.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.boards_container {
  flex: 1;
  width: 100vw;
  padding: 10px 30px;
}
.app_boards {
  display: flex;
  min-width: fit-content;
  /* flex-direction: row-reverse; */
  gap: 30px;
}
